[
    {
        "name": "jsondump example",
        "files": ["example/jsondump.c", "jsmn.c"],
        "compilation_cmd": "-I. -Iexample"
    },
    {
        "name": "simple example",
        "files": ["example/simple.c", "jsmn.c"],
        "compilation_cmd": "-I. -Iexample"
    },
    {
        "name": "tests",
        "files": ["test/tests.c", "jsmn.c"],
        "compilation_cmd": "-I. -Itest"
    }
]
